.loginregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.loginregister__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    flex-grow: 1;
}

.loginregister__container_logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.loginregister__title {
    padding-top: 38px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    margin: 0;
}

.loginregister__form {
    flex-grow: 1;
    width: 100%;
    padding-top: 43px;
    display: flex;
    flex-direction: column;
}

.loginregister__container_input {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.loginregister__space {
    flex-grow: 1;
}

.loginregister__submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    background-color: #3456F3;
    border: none;
    height: 45px;
    color: #fff;
    cursor: pointer;
}

.loginregister___container_link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 16px;
}

.loginregister__link_title {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin: 0;
}

.loginregister__link {
    text-decoration: none;
    outline-color: transparent;
    color: #3456F3;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.loginregister__error {
    display: none;
}

.loginregister__space_top {
    flex-grow: 1;
    flex-basis: 70px;
    max-height: 70px;
}

.loginregister__space_bottom {
    flex-grow: 1;
    flex-basis: 140px;
    max-height: 140px;
}

@media (max-width: 768px) {
    .loginregister__space_top {
        flex-basis: 233px;
        max-height: 233px;
    }

    .loginregister__space_bottom {
        flex-basis: 230px;
        max-height: 230px;
    }
}

@media (max-width: 320px) {
    .loginregister__container {
        width: 260px;
    }

    .loginregister__container_logo {
        align-items: center;
        width: auto;
    }

    .loginregister__space_top {
        flex-grow: 1;
        flex-basis: 50px;
        max-height: 50px;
    }

    .loginregister__space_bottom {
        flex-basis: 30px;
        max-height: 30px;
    }

    .loginregister__title {
        padding-top: 50px;
    }

    .loginregister__form {
        padding-top: 80px;
    }

    .loginregister__submit {
        font-weight: 500;
        font-size: 12px;
        line-height: 14.52px;
    }

    .loginregister__link_title {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
    }

    .loginregister__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
    }
}