.loginregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loginregister__space_logo {
    flex-grow: 1;
    flex-basis: 70px;
    flex-shrink: 20;
}

.loginregister__space_main_title {
    flex-shrink: 10;
    flex-basis: 40px;
}

.loginregister__space_main_form {
    flex-basis: 40px;
}

.loginregister__space_footer {
    flex-grow: 1;
    flex-shrink: 20;
    flex-basis: 70px;
}

.loginregister__container_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.loginregister__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
    width: 100%;
    flex-grow: 1;
    flex-basis: 108px;
}

.loginregister__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 396px;
    width: 100%;
    min-height: 222px;
    flex-basis: 444px;
}

.loginregister__footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 110px;
    max-width: 396px;
    flex-basis: 148px;
}

.loginregister__title {
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin: 0;
}

.loginregister__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.loginregister__container_input {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.loginregister__submit {
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    background-color: #3456F3;
    border: none;
    height: 45px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.loginregister__submit:hover {
    opacity: 80%;
}

.loginregister___container_link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 16px;
    flex-wrap: wrap;
}

.loginregister__link_title {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    margin: 0;
}

.loginregister__link {
    text-decoration: none;
    outline-color: transparent;
    color: #3456F3;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.loginregister__link:hover {
    opacity: 70%;
}

.loginregister__error {
    display: none;
}


@media (max-width: 768px) {

    .loginregister__space_logo {
        flex-basis: 232px;
    }

    .loginregister__header {
        flex-basis: 270px;
    }
    
    .loginregister__space_footer {
        flex-basis: 232px;
    }
    
    .loginregister__footer {
        flex-basis: 310px;
    }
}

@media (max-width: 396px) {

    .loginregister {
        padding-left: 20px;
        padding-right: 20px;
    }

    .loginregister__space_logo {
        flex-basis: 56px;
    }

    .loginregister__space_main_form {
        flex-basis: 80px;
    }

    .loginregister__header {
        align-items: center;
        max-width: 260px;
        flex-basis: 93px;
    }

    .loginregister__space_main_title {
        flex-basis: 50px;
    }
    
    .loginregister__space_footer {
        flex-basis: 30px;
    }

    .loginregister__main {
        max-width: 260px;
        flex-basis: 581px;
    }
    
    .loginregister__footer {
        max-width: 260px;
        flex-basis: 104px;
        min-height: 104px;
    }

    .loginregister__title {
        text-align: center;
    }

    .loginregister__submit {
        font-weight: 500;
        font-size: 12px;
        line-height: normal;
    }

    .loginregister__link_title {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
    }

    .loginregister__link {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
    }
}