.moviescardlist__list {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 40px 18px;
    justify-content: center;
    list-style-type: none;
 }