.moviescardlist__list {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 40px 18px;
    justify-content: center;
    list-style-type: none;
}

.movies__button-like {
    background-image: url("../../images/like-checked.svg");
}

.movies__button-dislike {
    background-image: url("../../images/like-unchecked.svg");
}

.movies__button-unsave {
    background-image: url("../../images/remove-saved.svg");
}

@media (max-width: 768px) {
    .moviescardlist__list {
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 30px 23px;
    }
}

@media (max-width: 320px) {
    .moviescardlist__list {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 33px;
    }
}