.moviescard {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.moviescard__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moviescard__like {
    width: 24px;
    height: 24px;
}