.movies {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    width: 100%;
}

.movies__content {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;
    max-width: calc(1280px - 70px - 70px);
}

.movies__container_searchform {
    padding-top: 88px;
}

.movies__container_cardlist {
    padding-top: 115px;
    padding-left: 0px;
    padding-right: 0px;
}

.movies__footer {
    padding-top: 145px;
    padding-bottom: 20px;
}

.movies__container_load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 62px;
}

.movies__button_load {
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    width: 320px;
    height: 36px;
    background-color: #F9F9F9;
    border: none;
}

.movies__container_preloader {
    display: none;
}

@media (max-width: 768px) {
    .movies {
        padding-left: 30px;
        padding-right: 30px;
    }

    .movies__container_searchform {
        padding-top: 100px;
    }

    .movies__container_cardlist {
        padding-top: 129px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (max-width: 320px) {
    .movies {
        padding-left: 0px;
        padding-right: 15px;
    }

    .movies__header {
        padding-left: 15px;
    }

    .movies__container_searchform {
        padding-top: 104px;
        padding-left: 12px;
    }

    .movies__container_cardlist {
        padding-top: 90px;
        padding-right: 0px;
        padding-left: 15px;
    }

    .movies__button_load {
        width: 240px;
    }

    .movies__footer {
        padding-top: 148px;
        padding-left: 22px;
        padding-right: 10px;
    }

    .movies__container_load {
        padding-top: 60px;
        padding-left: 15px;
    }
}