.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__container {
    padding-left: 70px;
    padding-right: 70px;
    flex-grow: 0;
}

.profile__container {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 91px;
    flex-grow: 1;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin: 0;
}

.profile__form {
    display: flex;
    flex-direction: column;
    min-width: 410px;
    padding-top: 123px;
    justify-content: space-between;
}

.profile__space {
    flex-grow: 1;
}

.profile__container_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.profile__inputs_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 0;
}

.profile__form_label {
    font-weight: 500;
    font-size: 11px;
    line-height: normal;
}

.profile__form_input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 11px;
    line-height: normal;
    text-align: right;
}

.profile__input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__input_separator {
    border-bottom: 1px solid #E8E8E8;
}

.profile__container_edit {
    display: none;
}

.profile__container_edit_visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__container_submit {
    display: none;
}

.profile__container_submit_visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__button_edit {
    border: none;
    background-color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    cursor: pointer;
}

.profile__button_edit:hover {
    opacity: 0.7;
}

.profile__button_logout {
    border: none;
    background-color: transparent;
    color: #FF3055;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    padding-top: 15px;
    cursor: pointer;
}

.profile__button_logout:hover {
    opacity: 0.7;
}

.profile__button_submit {
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    background-color: #3456F3;
    border: none;
    height: 45px;
    color: #fff;
    cursor: pointer;
    width: 410px;
}

.profile__button_submit:hover {
    opacity: 0.8;
}

.profile__error {
    display: none;
}

@media (max-width: 768px) {

    .header__container {
        padding-left: 26px;
        padding-right: 26px;
    }

    .profile__container {
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 253px;
    }

    .profile__form {
        padding-top: 95px;
    }

    .profile__container_buttons {
        padding-bottom: 269px;
    }

}

@media (max-width: 410px) {

    .header__container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .profile__container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 90px;
    }

    .profile__form {
        min-width: 260px;
        padding-top: 80px;
    }

    .profile__button_submit {
        width: 260px;
    }

    .profile__container_buttons {
        padding-bottom: 40px;
    }
}