.profile__container {
    padding-left: 70px;
    padding-right: 70px;
}

.profile__container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    min-width: 410px;
    gap: 15px;
    padding-top: 104px;
}

.profile__form_label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13.31px;
}

.profile__form_input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    text-align: right;
}

.profile__input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__input_separator {
    border-bottom: 1px solid #E8E8E8;
}

.profile__submit {
    border: none;
    background-color: #fff;
    padding-top: 201px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    cursor: pointer;
}

.profile__button_logout {
    border: none;
    background-color: transparent;
    color: #FF3055;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    padding-top: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile__container {
        padding-left: 26px;
        padding-right: 26px;
    }

    .profile__container_content {
        padding-top: 240px;
    }

    .profile__form {
        padding-top: 80px;
    }
}

@media (max-width: 320px) {
    .profile__container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .profile__container_content {
        padding-top: 73px;
    }

    .profile__form {
        min-width: 260px;
        padding-top: 61px;
    }

    .profile__submit {
        padding-top: 360px;
    }

}