.portfolio {
    padding-top: 17px;
}

.portfolio__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -4%;
    margin: 0;
}

.portfolio__link {
    display: block;
    background: url("../../images/portfolio-link.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 29px;
    height: 60px;
}

.portfolio__underline {
    padding-top: 10px;
    border-bottom: 1px solid;
    width: 100%;
    display: block;
    border-color: #E8E8E8;
}