.promo {
    width: 100%;
    height: 648px;
    background: #073042;
}

.promo__container {
    padding-left: 70px;
    padding-right: 70px;
}

.promo__container_content {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.promo__container_title {
    display: flex;
    flex-direction: column;
}

.promo__title_main {
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
    max-width: 640px;
}

.promo__text {
    color: #fff;
    opacity: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    padding-top: 29px;
    max-width: 310px;
    margin: 0;
}

.promo__logo {
    width: 310px;
    height: 304px;
}

.promo__container_more {
    padding-top: 86px;
}

.promo__link_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 35px;
    opacity: 60%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    text-decoration: none;
    outline-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.navigation_account_color {
    background-color: #2BE080;
    box-shadow: none !important;
}

.navigation_link_color {
    color: #fff !important;
}


@media (max-width: 768px) {
    .promo {
        height: 924px;
    }

    .promo__container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .promo__container_content {
        flex-direction: column;
        align-items: center;
        padding-top: 158px;
    }
   
    .promo__logo {
        order: 1;
        width: 310px;
        height: 304px;
    }

    .promo__container_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        order: 2;
        padding-top: 50px;
    }

    .promo__title_main {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
    }

    .promo__text {
        max-width: 260px;
        padding-top: 22px;
    }
    
    .promo__container_more {
        display: flex;
        justify-content: center;
        padding-top: 92px;
    }
}

@media (max-width: 320px) {
    .promo {
        height: 710px;
    }

    .promo__container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .promo__container_content {
        flex-direction: column;
        align-items: center;
        padding-top: 84px;
    }
   
    .promo__logo {
        order: 1;
        width: 210px;
        height: 206px;
    }

    .promo__title_main {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -0.04em;
    }

    .promo__text {
        max-width: 260px;
        padding-top: 22px;
    }
    
    .promo__container_more {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
}