.pagenotfound {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagenotfound__header {
    font-weight: 400;
    font-size: 140px;
    line-height: 169.43px;
    margin: 0;
}

.pagenotfound__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin: 0;
}

.pagenotfound__link {
    border: none;
    background-color: transparent;
    color: #3456F3;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 183px;
}