.pagenotfound {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pagenotfound__header {
    font-weight: 400;
    font-size: 140px;
    line-height: normal;
    margin: 0;
    padding-top: calc(50vh - 134px);
}

.pagenotfound__text {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    margin: 0;
}

.pagenotfound__link {
    border: none;
    background-color: transparent;
    color: #3456F3;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    padding-top: 183px;
}

.pagenotfound__link:hover {
    opacity: 70%;
}


@media (max-width: 768px) {

    .pagenotfound__header {
        padding-top: calc(50vh - 109px);
    }

    .pagenotfound__text {
        padding-top: 4px;
    }
}

@media (max-width: 320px) {

    .pagenotfound__header {
        font-weight: 400;
        font-size: 80px;
        line-height: normal;
        margin: 0;
        padding-top: calc(50vh - 65px);
    }

    .pagenotfound__text {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        padding-top: 12px;
    }

    .pagenotfound__link {
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        padding-top: 284px;
    }

}