* {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  /* outline: 1px solid #f00 !important; */
}

.button-common {
  cursor: pointer;
}

.button-common:hover {
  opacity: 0.8 !important;
}

.link-common:hover {
  opacity: 0.7;
}

.page-width-common {
  min-width: 310px;
}

.app {
    display: grid;
    min-height: 100vh;
}

.app_all {
  grid-auto-rows: auto 1fr auto;
}

.app_header {
  grid-auto-rows: auto 1fr;
}

.app_no-header-footer {
  grid-auto-rows: 1fr;
}

.app__header {
  display: flex;
  flex-direction: column;
  min-width: 310px;
}

.app__wrapper-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  max-width: calc(1280px - 70px - 70px + 10px + 10px);
  margin: 0 auto;
}

.app__header_color-main {
  background-color: #073042;
}

.app__header_color-basic {
  background-color: #fff;
}

.navigation__link-account_color {
  background-color: #2BE080;
  box-shadow: none !important;
}

.navigation__link_color {
  color: #fff !important;
}

.app__footer {
  padding-bottom: 20px;
  min-width: 310px;
}

.app__wrapper-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  max-width: calc(1280px - 70px - 70px + 10px + 10px);
  margin: 0 auto;
}

.app__navigation {
  display: none;
}

@media (max-width: 768px) {

  .app__navigation {
    display: block;
  }

  .app_all {
    grid-auto-rows: auto auto 1fr auto;
  }
  
  .app_header {
    grid-auto-rows: auto auto 1fr;
  }
  
  .app_no-header-footer {
    grid-auto-rows: auto 1fr;
  }
  

  .app__wrapper-header {
      max-width: calc(768px - 30px - 30px + 10px + 10px);
  }
  
  .app__wrapper-footer {
      max-width: calc(768px - 30px - 30px + 10px + 10px);
  }
}

@media (max-width: 320px) {
  .app__footer {
      padding-bottom: 20px;
  }

  .app__wrapper-header {
      padding: 0 5px;
      max-width: calc(320px - 14px - 14px + 5px + 5px);
  }

  .app__wrapper-footer {
      padding: 0 5px;
      max-width: calc(320px - 10px - 10px + 5px + 5px);
  }
}