.main {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
}

.main__header {
    display: flex;
    flex-direction: column;
    background-color: #073042;
    padding-top: 17px;
}

.main__header_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    max-width: calc(1280px - 70px - 70px + 10px + 10px);
    margin: 0 auto;
}

.main__footer {
    padding-bottom: 130px;
}

.main__footer_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    max-width: calc(1280px - 70px - 70px + 10px + 10px);
    margin: 0 auto;
}

.navigation_account_color {
    background-color: #2BE080;
    box-shadow: none !important;
}

.navigation_link_color {
    color: #fff !important;
}

@media (max-width: 768px) {
    .main__footer {
        padding-top: 79px;
    }

    .main__header {
        padding-top: 3px;
    }

    .main__header_wrapper {
        max-width: calc(768px - 30px - 30px + 10px + 10px);
    }
    
    .main__footer_wrapper {
        max-width: calc(768px - 30px - 30px + 10px + 10px);
    }
}

@media (max-width: 320px) {
    .main__footer {
        padding-top: 79px;
        padding-bottom: 59px;
    }

    .main__header {
        padding-top: 3px;
    }

    .main__header_wrapper {
        padding: 0 5px;
        max-width: calc(320px - 14px - 14px + 5px + 5px);
    }

    .main__footer_wrapper {
        padding: 0 5px;
        max-width: calc(320px - 10px - 10px + 5px + 5px);
    }
}