.searchform__form {
    display: flex;
    flex-direction: column;
}

.searchform__film {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 33.89px;
    color: #A0A0A0;
    min-width: 0;
}

.checkbox__input {
    display: none;
}

.searchform__form_line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchform__submit {
    color:#fff; 
    background-color: #3456F3;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    width: 58.65px;
    height: 34px;
    flex-shrink: 0;
}

.searchform__form_underline {
    border-bottom: 1px solid;
    width: 100%;
    display: block;
    border-color: #E8E8E8;
    padding-top: 13px;
}

.searchform__form_line2 {
    display: flex;
    flex-direction: row;
    padding-top: 33px;
}

.searchform__short_label {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-left: 14px;
}

@media (max-width: 768px) {
    .searchform__form_line2 {
        justify-content: end;
        gap: 15px;
    }

    .searchform__order_checkbox {
        order: 2;
    }

    .searchform__short_label {
        order: 1;
    }
}


@media (max-width: 320px) {

    .searchform__form {
        min-width: 292px;
    }

    .searchform__film {
        font-weight: 500;
        font-size: 18px;
        line-height: 21.78px;
    }

    .searchform__form_line2 {
        justify-content: center;
        padding-top: 33px;
    }

    .searchform__short_label {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        padding-left: 0px;
    }

}