.maintitle {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid;
    padding-bottom: 23px;
    margin: 0;
}


@media (max-width: 768px) {
    .maintitle {
        padding-bottom: 27px;
    }
}


@media (max-width: 320px) {
    .maintitle {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }
}