.maintitle {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid;
    padding-bottom: 24px;
    margin: 0;
}

@media (max-width: 320px) {
    .maintitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: -0.04em;
        padding-bottom: 28px;
    }
}