.savedmovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    height: 100vh;
}

.savedmovies__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(1280px - 70px - 70px);
    height: 100vh;
}

.savedmovies__container_searchform {
    padding-top: 90px;
}

.savedmovies__container_cardlist {
    padding-top: 115px;
    padding-left: 0px;
    padding-right: 0px;
}

.savedmovies__footer {
    margin-top: auto;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .savedmovies {
        padding-left: 30px;
        padding-right: 30px;
    }

    .savedmovies__container_searchform {
        padding-top: 96px;
    }

    .savedmovies__container_cardlist {
        padding-top: 129px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 320px) {
    .savedmovies {
        padding-left: 10px;
        padding-right: 15px;
    }

    .savedmovies__container_searchform {
        padding-top: 100px;
    }

    .savedmovies__container_cardlist {
        padding-top: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
}