.header {
    display: flex;
    flex-direction: row;
    padding-top: 17px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__container_nav_large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.header__container_nav_medium {
    display: none;
}

@media (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
    }
    
    .header__container_nav_large {
        display: none;
    }

    .header__container_nav_medium {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-grow: 1;
    }
}