.header {
    display: flex;
    flex-direction: row;
    padding-top: 17px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__container_nav_large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.header__container_nav_medium {
    display: none;
}

.header__container_login {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.header__container_login_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.header__register_link {
    text-decoration: none;
    outline-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.header__login_link {
    text-decoration: none;
    outline-color: transparent;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #2BE080;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
    }
    
    .header__container_nav_large {
        display: none;
    }

    .header__container_nav_medium {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-grow: 1;
    }
}

@media (max-width: 320px) {
    .header__register_link {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .header__login_link {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        width: 54px;
        height: 26px;
        border-radius: 3px;
    }

    .header__container_login_links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}