.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 74px;
}

.header__logo {
    flex-grow: 1;
}

.header__container-nav-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 64px;
}

.header__container-nav-medium {
    display: none;
}

.header__container-login {
    display: flex;
    justify-content: flex-end;
}

.header__container-login-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.header__link-register {
    text-decoration: none;
    outline-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.header__link-login {
    text-decoration: none;
    outline-color: transparent;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #2BE080;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
    }

    .header__container-nav-large {
        display: none;
    }

    .header__container-nav-medium {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        position: relative;
        top: 1px;
        right: -4px;
    }
}

@media (max-width: 320px) {
    .header__link-register {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .header__link-login {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        width: 54px;
        height: 26px;
        border-radius: 3px;
    }

    .header__container-login-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .header__container-nav-medium {
        top: 2px;
        right: -2px;
    }
}