.aboutproject {
    height: 608px;
}

.aboutproject__content_main {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 110px;
}

.aboutproject__content {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    gap: 55px;
}

.aboutproject__col_title_1 {
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.8px;
}

.aboutproject__col_title_2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 7px;
}

.aboutproject__timeline {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 81px;
}

.aboutproject__timeline_backend {
    text-align: center;
    flex-basis: 20%;
}

.aboutproject__timeline_frontend {
    text-align: center;
    flex-grow: 1;
}

.aboutproject__timeline_backend_week {
    background-color: #2BE080;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.aboutproject__timeline_frontend_week {
    background-color: #F2F2F2;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.aboutproject__timeline_bottom_text {
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    /* 121.429% */
}

@media (max-width: 768px) {
    .aboutproject {
        height: 585px;
    }

    .aboutproject__content_main {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 88px;
    }

    .aboutproject__content {
        display: flex;
        flex-direction: row;
        padding-top: 48px;
        gap: 37px;
    }

    .aboutproject__col_title_2 {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 2px;
    }

    .aboutproject__timeline {
        padding-top: 68px;
    }

    .aboutproject__timeline_bottom_text {
        color: #A0A0A0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
}

@media (max-width: 320px) {
    .aboutproject {
        height: 641px;
    }

    .aboutproject__content_main {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 71px;
    }

    .aboutproject__content {
        flex-direction: column !important;
        padding-top: 43px;
        gap: 25px;
    }

    .aboutproject__col_title_1 {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.72px;
    }

    .aboutproject__col_title_2 {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        padding-top: 0px !important;
    }

    .aboutproject__timeline {
        padding-top: 37px !important;
    }

    .aboutproject__timeline_backend_week {
        font-weight: 400;
        font-size: 11px;
        line-height: normal;
    }

    .aboutproject__timeline_frontend_week {
        font-weight: 400;
        font-size: 11px;
        line-height: normal;
    }

    .aboutproject__timeline_bottom_text {
        font-weight: 400;
        font-size: 11px;
        line-height: normal;
    }

    .aboutproject__timeline_backend {
        flex-basis: 35%;
    }
}