.aboutproject {
    height: 608px;
}

.aboutproject__content_main {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 110px;
}

.aboutproject__content {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    gap: 188px;
}

.aboutproject__col_title_1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -4%;
}

.aboutproject__col_title_2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 7px;
}

.aboutproject__timeline {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 81px;
}

.aboutproject__timeline_backend {
    text-align: center;
    flex-basis: 20%;
}

.aboutproject__timeline_frontend {
    text-align: center;
    flex-grow: 1;
}

.aboutproject__timeline_backend_week {
    background-color: #2BE080;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutproject__timeline_frontend_week {
    background-color: #F2F2F2;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutproject__timeline_bottom_text {
    color: #A0A0A0;
}