.checkbox__label {
    width: 36px;
    height: 20px;
    display: block;
    position: relative;
}

.checkbox__span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/smalltumboff.svg");
    background-repeat: no-repeat;
}

.checkbox__input:checked + .checkbox__span {
    background-image: url("../../images/smalltumb.svg");
}