.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: #E8E8E8;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.footer__container_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;
}

.footer__year {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
}

.footer__container_link {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.footer___link {
    text-decoration: none;
    outline-color: transparent;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
}


@media (max-width: 320px) {
    .footer__container_bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .footer__container_link {
        order: 1;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        min-width: 300px;
    }

    .footer___link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
    }

    .footer__year {
        order: 2;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        color: #A0A0A0;
        padding-top: 30px;
    }

}