.footer {
    height: 172px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.footer__container_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer__year {
    margin: 0;
}