.techs {
    background-color: #F5F5F5;
    height: 625px;
}

.techs__container_main {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
}

.techs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 86px;
}

.techs__container_title_main {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}

.techs__container_text{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-top: 30px;
}

.techs__list {
    display: flex;
    gap: 10px;
    padding-top: 100px;
    padding-left: 0px;
    margin: 0;
}

.techs__list_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    background-color: #E8E8E8;
    width: 90px;
    height: 60px;
}

@media (max-width: 768px) {
    .techs {
        height: 567px;
    }

    .techs__container_main {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
      }

      .aboutproject__content {
        display: flex;
        flex-direction: row;
        padding-top: 48px;
        gap: 45px;
    }

    .aboutproject__col_title_2 {
        padding-top: 2px;
    }

    .aboutproject__timeline {
        padding-top: 60px;
    }

    .techs__container_text{
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        padding-top: 25px;
    }

    .techs__list {
        display: flex;
        gap: 10px;
        padding-top: 80px;
        padding-left: 0px;
        margin: 0;
    }

    .techs__list_item {
        width: 84px;
        height: 57px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        border-radius: 10px;
    }
}