.aboutme {
    height: 1079px;
}

.aboutme__container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 107px;
}

.aboutme__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
}

.aboutme__h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
}

.aboutme__h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    font-feature-settings: 'clig' off, 'liga' off;
    margin: 0;
    padding-top: 20px;
}

.aboutme__p {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    margin: 0;
    padding-top: 25px;
    max-width: 599px;
}

.aboutme__portfolio {
    padding-top: 100px;
}

.aboutme__link {
    text-decoration: none;
    outline-color: transparent;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 103px;
    display: block;
}

.aboutme__portfolio_title {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */ 
    color: #A0A0A0;
    margin: 0;
    /* display: block; */
    padding-bottom: 35px;
}

.aboutme__about_avatar {
    width: 270px;
    height: 327px;
}

@media (max-width: 768px) {
    .aboutme {
        height: 994px;
    }

    .aboutme__container {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 88px;
    }

    .aboutme__h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        margin: 0;
    }

    .aboutme__h2 {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        padding-top: 16px;
    }

    .aboutme__p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        padding-top: 20px;
        max-width: 364px;
    }

    .aboutme__about_avatar {
        width: 255px;
        height: 307px;
    }

    .aboutme__link {
        padding-top: 86px;
    }

    .aboutme__portfolio {
        padding-top: 89px;
    }
}


@media (max-width: 320px) {
    .aboutme {
        height: 1198px;
    }

    .aboutme__container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 71px;
    }

    .aboutme__about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 58px;
    }

    .aboutme__h1 {
        font-weight: 400;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
        margin: 0;
    }

    .aboutme__h2 {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin: 0;
        padding-top: 20px;
    }

    .aboutme__p {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        margin: 0;
        padding-top: 20px;
        max-width: 292px;
    }

    .aboutme__about_text {
        order: 2;
        padding-top: 40px;
    }

    .aboutme__about_avatar {
        order: 1;
        width: 292px;
        height: 352px;
    }

    .aboutme__link {
        padding-top: 40px;
    }

    .aboutme__portfolio {
        padding-top: 70px;
    }

    .aboutme__portfolio_title {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 25px;
    }
}