.navigationmenu {
    background-color: transparent;
    width: 28px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.navigationmenu__line {
    border-top: 3px solid;
}

.navigationmenu__line_black {
    border-color: #000;
}

.navigationmenu__line_white {
    border-color: #fff;
}