.navigationmenu {
    background-color: transparent;
    width: 28px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}

.navigationmenu:hover .navigationmenu__line {
    opacity: 0.8;
}

.navigationmenu__line {
    border-top: 3px solid;
}

.navigationmenu__line_black {
    border-color: #000;
}

.navigationmenu__line_white {
    border-color: #fff;
}

@media (max-width: 320px) {
    .navigationmenu {
        width: 22px;
    }
}