.navigationmenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigationmenu:hover {
    opacity: 0.8;
}

@media (max-width: 320px) {
    .navigationmenu__image {
        height: 35px;
        width: 35px;
    }
}